spring:
  application:
    name: eurekaserver
  config:
    import: "configserver:http://localhost:8070/"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8075