spring:
  application:
    name: gateway
  config:
    import: "configserver:http://localhost:8070/"
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:7080/realms/transakt/protocol/openid-connect/certs

server:
  port: 8060

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8075/eureka/

gateway:
  public-paths: /customers/api/v1,/customers/api/v1/verify